@import "tailwindcss";
@import "tw-animate-css";

:root {
  --header-height: 3.5rem;

  --color-background: rgb(255, 255, 255);
  --color-foreground: rgb(0, 0, 0);

  --color-background-hover: rgba(0, 0, 0, 0.05);

  --color-muted: rgba(0, 0, 0, 0.2);
  --color-hover: rgba(0, 0, 0, 0.65);
  --color-primary: rgba(0, 0, 0, 1);

  --color-border: rgba(0, 0, 0, 0.1);

  --font-sans: "DM Sans", sans-serif;
  --font-mono: "DM Mono", monospace;
}

[data-theme="dark"] {
  --color-background: rgb(0, 0, 0);
  --color-foreground: rgb(255, 255, 255);

  --color-background-hover: rgba(255, 255, 255, 0.05);

  --color-muted: rgba(255, 255, 255, 0.2);
  --color-hover: rgba(255, 255, 255, 0.65);
  --color-primary: rgba(255, 255, 255, 1);

  --color-border: rgba(255, 255, 255, 0.1);
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-mono), monospace;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.screen-line-top:before {
  content: "";
  z-index: -1;
  background-color: var(--border);
  width: 200vw;
  height: 1px;
  position: absolute;
  top: 0;
  left: -100vw;
}

.screen-line-bottom:after {
  content: "";
  z-index: -1;
  background-color: var(--color-border);
  width: 200vw;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: -100vw;
}
