@import "tailwindcss";
@import "tw-animate-css";

:root {
  --header-height: 3.5rem;

  --color-background: 0 0 0;
  --color-foreground: 255 255 255;
  
  --color-muted-foreground: 255 255 255 / 0.2;
  --color-hover-foreground: 255 255 255 / 0.4;
  --color-border: 255 255 255 / 0.1;
}

[data-theme="light"] {
  --color-background: 255 255 255;
  --color-foreground: 0 0 0;
  
  --color-muted-foreground: 0 0 0 / 0.2;
  --color-hover-foreground: 0 0 0 / 0.4;
  --color-border: 0 0 0 / 0.1;
}

body {
  background-color: rgb(var(--color-background));
  color: rgb(var(--color-foreground));
  font-family: var(--font-sans), sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

p {
  color: rgb(var(--color-muted-foreground));
  line-height: 1.7;
}

a {
  color: rgb(var(--color-foreground));
  text-decoration: none;
  transition: color 0.2s ease;
}

a:hover {
  color: rgb(var(--color-hover-foreground));
}
