@import "tailwindcss";
@import "tw-animate-css";

:root {
  --header-height: 3.5rem;

  --background: rgb(255, 255, 255);
  --foreground: rgb(0, 0, 0);

  --background-hover: rgba(0, 0, 0, 0.05);

  --text-muted: rgba(0, 0, 0, 0.2);
  --text-hover: rgba(0, 0, 0, 0.65);
  --text-primary: rgba(0, 0, 0, 1);

  --border: rgba(0, 0, 0, 0.1);

  --font-sans: "DM Sans", sans-serif;
  --font-mono: "DM Mono", monospace;
}

[data-theme="dark"] {
  --background: rgb(0, 0, 0);
  --foreground: rgb(255, 255, 255);

  --background-hover: rgba(255, 255, 255, 0.05);

  --text-muted: rgba(255, 255, 255, 0.2);
  --text-hover: rgba(255, 255, 255, 0.65);
  --text-primary: rgba(255, 255, 255, 1);

  --border: rgba(255, 255, 255, 0.1);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-background-hover: var(--background-hover);
  --color-text-muted: var(--text-muted);
  --color-text-hover: var(--text-hover);
  --color-text-primary: var(--text-primary);
  --color-border: var(--border);
  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-mono), monospace;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
